nav {
    display: flex;
    @media screen and (max-width: 400px) {
        font-size: .8rem;
    }
    svg {
        margin-left: 20px;
        padding: 10px;
        @media screen and (max-width: 400px) {
        margin-left: 0; 
        }
    }
    
    ul {
        display: flex;
        margin-left: auto;
        margin-right: 20px;
        a {
            padding: 15px;
        }
    }
}